#content {
	background-color: transparent;
	float: right;
	height: 100%;
	width: 70%;
	
	background: rgb(43,43,43); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(43,43,43,1) 32%, rgba(43,43,43,1) 47%, rgba(74,74,74,1) 100%, rgba(74,74,74,1) 100%, rgba(74,74,74,1) 102%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(43,43,43,1) 32%,rgba(43,43,43,1) 47%,rgba(74,74,74,1) 100%,rgba(74,74,74,1) 100%,rgba(74,74,74,1) 102%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(43,43,43,1) 32%,rgba(43,43,43,1) 47%,rgba(74,74,74,1) 100%,rgba(74,74,74,1) 100%,rgba(74,74,74,1) 102%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#4a4a4a',GradientType=0 ); /* IE6-9 */
	
	-moz-box-shadow: 26px 51px 130px -1px #000000;
	-webkit-box-shadow: 26px 51px 130px -1px #000000;
	-o-box-shadow: 26px 51px 130px -1px #000000;
	box-shadow: 26px 51px 130px -1px #000000;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=152, Strength=130);
}

#list_musique {
	float: right;
    width: 100%;
    background-color: transparent;
}

#content_title {
	width: 100%;
	background-color: transparent;
	float: left;
	text-align: center;
	height: 60px;
	background-color: #2D5B79;
}

#background_content_title {
    background-color: #2D5B79;
}

#import_button {
font-size: 14px;
    float: right;
    margin: 0;
    margin-right: 3%;
    background-color: #ecf0f1;
    border-color: transparent;
    text-shadow: none;
    position: absolute;
    top: 11px;
    right: 0px;
    color: #2D5B79;
	letter-spacing: 0px;
}

.ui-input-text, .ui-input-search {
    border-radius: 0 !important;
    border: 0px;
    margin-top: 0px;
	margin-bottom: 0 !important;
}

.ui-listview {
	border-radius: 0 !important;
	margin: 0 !important;
	overflow: scroll !important;
    max-height: 88%;
}

.ui-filterable {
	border-bottom: 0 !important; 
	margin-bottom: 0 !important; 
}

.ui-page {
	overflow: hidden !important;
}

#formConnexionPopup {
	text-align: center;
}

#motDePasseOublie {
	font-family: roboto;
	font-size: 50px;
}