#content {
	background-color: transparent;
	float: right;
	height: 100%;
	width: 78%;
	
	background: rgb(43,43,43); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(43,43,43,1) 32%, rgba(43,43,43,1) 47%, rgba(74,74,74,1) 100%, rgba(74,74,74,1) 100%, rgba(74,74,74,1) 102%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(43,43,43,1) 32%,rgba(43,43,43,1) 47%,rgba(74,74,74,1) 100%,rgba(74,74,74,1) 100%,rgba(74,74,74,1) 102%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(43,43,43,1) 32%,rgba(43,43,43,1) 47%,rgba(74,74,74,1) 100%,rgba(74,74,74,1) 100%,rgba(74,74,74,1) 102%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#4a4a4a',GradientType=0 ); /* IE6-9 */
	
	-moz-box-shadow: 26px 51px 130px -1px #000000;
	-webkit-box-shadow: 26px 51px 130px -1px #000000;
	-o-box-shadow: 26px 51px 130px -1px #000000;
	box-shadow: 26px 51px 130px -1px #000000;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=152, Strength=130);
}

.list_musique {
	float: right;
    width: 100%;
    background-color: transparent;
}

#content_title {
	width: 100%;
	background-color: transparent;
	float: left;
	text-align: center;
	height: 60px;
	background-color: #2D5B79;
}

#background_content_title {
    background-color: #2D5B79;
}

#import_button {
font-size: 14px;
    float: right;
    margin: 0;
    margin-right: 3%;
    background-color: #ecf0f1;
    border-color: transparent;
    text-shadow: none;
    position: absolute;
    top: 11px;
    right: 0px;
    color: #2D5B79;
	letter-spacing: 0px;
}

#uploadLabel
{
	margin-top: 22px;
	text-align: center;
}

.ui-input-search {
    border-radius: 0 !important;
    border: 0px;
    margin-top: 0px;
	margin-bottom: 0 !important;
}

.ui-listview {
	border-radius: 0 !important;
	margin: 0 !important;
	/*overflow: scroll !important;*/
    max-height: 82%;
}

.ui-filterable {
	border-bottom: 0 !important; 
	margin-bottom: 0 !important; 
}

.ui-page {
	overflow: hidden !important;
}

#formConnexionPopup {
	text-align: center;
}

#motDePasseOublie {
	font-family: roboto;
	font-size: 13px;
}

.no-margin {
	margin: 0 !important;
}

.list_scroll {
	overflow: hidden !important;
}

.ui-li-divider {
	padding-left: 10px !important;
}

.txt-left {
	text-align: left;
}

.txt-center {
	text-align: center;
}

#footer_bar {
	margin-top: -20px;
	float: left;
	width: 100%;
	background-color: #484848;
}

.paging {
	height: 9px;
    padding-bottom: 9.75;
    padding-top: 6.75;
}

.ui-controlgroup-controls {
	margin-top: 4px;
}

.fullPageBlurred
{
	-webkit-filter: blur(20px);
	-moz-filter: blur(20px);
	-o-filter: blur(20px);
	-ms-filter: blur(20px);
	filter: blur(20px);
	background-color: #ccc;
	pointer-events: none;
}

.list-central-morceaux {
	height: auto;
}

.default-cover-morceaux {
	width: 60px;
}

.cover {
	float: left;
	width: 60px;
}

.morceaux-artist {
    margin-top: 11px;
    margin-left: 20px;
    float: left;
}

.morceaux-artist-album {
    font-size: 12px;
    float: left;
    display: block;
    margin-top: 6px;
}

/* EDIT SONG */

.default-cover-edit {
	width: 85px;
    margin-top: 10px;
    margin-left: 18px;
}

.info_song-edit {
	display: block;
    margin-top: -78px;
    margin-left: 132px;
    line-height: 24px;
}

.title_song-edit {
    font-size: 20px;
}

.artist-edit {
    font-size: 13px;
}

.album-edit {
    font-size: 13px;
}

#radio_label_detail {
	width: 100px; 
	text-align: center; 
	height: 10px; 
	line-height: 10px;
}

#radio_label_pochette {
	width: 100px; 
	text-align: center;
	height: 10px;
	line-height: 10px;
}

#list_edit {
	height: 350px;
}

.messageInfoLabel
{
	text-shadow: none;
	color: white;
}

.categories
{
	width: 255px;
    height: 160px;
    background-color: #383838;
    float: left;
    margin-left: 15px;
    margin-bottom: 30px;
	cursor: pointer;
}

.checked_cat_genres
{
	position: absolute;
	margin-left: 80px;
    margin-top: 7px;
    width: 110px;
}

.checked_cat_artistes
{
    position: absolute;
    margin-left: 47px;
    margin-top: 34px;
    width: 110px;
}

.checked_cat_annees
{
	position: absolute;
	margin-left: 80px;
    margin-top: 7px;
    width: 110px;
}

.checked_cat_albums
{
	position: absolute;
	margin-left: 80px;
    margin-top: 25px;
    width: 110px;
}

.categories.cat_annees
{
    background-image: url("../img/categories/annees.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	background-position: 50% 50%;
}

.categories.cat_genres
{
    background-image: url("../img/categories/genres.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	background-position: 50% 50%;
}

.categories.cat_artistes
{
    background-image: url("../img/categories/artistes.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	background-position: 50% 50%;
}

.categories.cat_albums
{
    background-image: url("../img/categories/albums.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	background-position: 50% 50%;
}

.categories_artistes
{
	margin-left: 53px;
}

.cat_c_artistes
{
	width: 200px;
    height: 211px;
}

.cat_c_albums
 {
    height: 194px;
}
 
.genre_title
{
	text-align: center;
    background-color: #F9F9F9;
    color: #1794E0;
    text-shadow: none;
    padding: 4px;
    font-weight: bold;
    font-size: 25px;
    font-family: oldsansblack;
    margin-top: 120px;
}

.artist_title 
{
	text-align: center;
    background-color: #F9F9F9;
    color: #1794E0;
    text-shadow: none;
    padding: 4px;
    font-weight: bold;
    font-size: 25px;
    font-family: oldsansblack;
    margin-top: 170px;
}

.album_title 
{
	text-align: center;
    background-color: #F9F9F9;
    color: #1794E0;
    text-shadow: none;
    padding: 4px;
    font-weight: bold;
    font-size: 25px;
    font-family: oldsansblack;
    margin-top: 153px;
}

#userImage
{
	width: 100px;
}

#userLabel
{
	font-family: roboto;
	font-size: 40px;
}

.button_selection
{
	height: 42px;
	text-shadow: none !important;
	color: white !important;
}

.list-log
{
	white-space: normal !important;
	height: auto;
	font-size: 12px;
	font-weight: normal !important;
}

#motDePasseOublie
{
	color: inherit;
	text-decoration: none;
}


#nom_playlist_input::-webkit-input-placeholder {
   color: grey;
   text-shadow: 0;
}

#nom_playlist_input:-moz-placeholder { /* Firefox 18- */
   color: grey;  
   text-shadow: 0;
}

#nom_playlist_input::-moz-placeholder {  /* Firefox 19+ */
   color: grey;  
   text-shadow: 0;
}

#nom_playlist_input:-ms-input-placeholder {  
   color: grey;  
   text-shadow: 0;
}

#imgCoverEditionMetadonnee
{
	float: left;
	margin-top: 10px;
    margin-left: 17px;
    width: 80px;
}

.divHeaderEdition
{
	float: left;
	margin-top: 12px;
    margin-left: 17px;
	line-height: 25px;
}

.radio_choice_label_edition
{
	font-size: 12px !important;
}

#fieldset_radio_choice
{
	margin-top: -7px;
}

#addMetatagButton
{
	background-color: #16a085 ;
	margin: 0 auto !important;
    width: 250px;
}

.metadonnee_label
{
	width: 100px !important;
	text-align: right !important;
	margin-left: 10px !important;
	margin-top: -10px !important;
	line-height: 41px;
	float: left;
}

.metadonnee_field
{
	margin-top: -5px !important;
	width: 300px !important;
	float: right;
	margin-right: 6px !important;
}

.cellMetadonnee
{
	height: 45px !important;
}