@font-face {
    font-family: audiosa;
    src: url("../font/big_noodle_titling.ttf");
}

html {
	margin: 0;
	border: 0;
	padding:0;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	border: 0;
	padding:0;
	width: 100%;
	height: 100%;
	background: url("../img/fond/background.jpg") no-repeat center fixed;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}

h3  {
	font-family: audiosa;
	font-size: 32px;
    margin: 0;
    padding-top: 11px;
    letter-spacing: 3px;
	color: white;
}

#menu {
	float: left;
	height: 100%;
	width: 30%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#190f0f+19,4179c1+94 */
background: rgb(25,15,15); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(25,15,15,1) 19%, rgba(65,121,193,1) 94%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(25,15,15,1) 19%,rgba(65,121,193,1) 94%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(25,15,15,1) 19%,rgba(65,121,193,1) 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#190f0f', endColorstr='#4179c1',GradientType=0 ); /* IE6-9 */


}

#content_menu_title {
	min-height: 60px;
}


#audiosa_title {
    float: left;
    width: 100%;
	min-height: 8%;
    text-align: center;
    color: white;
    background-color: #e74c3c;
}

#utilisateur {
    width: 30%;
    text-align: center;
	background-color: transparent;
    float: right;
	min-height: 8%;
}

#icon_utilisateur {
    width: 33px;
}